@import url("https://fonts.googleapis.com/css?family=Raleway");

a {
  margin: 0;
}

.articleHeading {
  font-weight: 300;
  font-size: 3rem;
  color: #cd2b2b;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(182, 182, 182, 0.432);
  padding: 3rem;
  margin: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  letter-spacing: 3px;
  text-decoration: underline overline;
  text-decoration-color: white;
}

.articleList {
  width: 100%;
  margin: 2rem auto;
}

.articleList > li {
  border: 1px solid rgb(255, 255, 255);
  width: 50%;
  padding: 4rem;
  margin: 3rem auto;
  border-width: 10px;
  border-radius: 20px;
  border-style: double;
  background-color: #cd2b2b;
  color: white;
  list-style: none;
}

.articleTitle {
  font-size: 250%;
  font-weight: 300;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 1rem 2rem;
  margin: auto;
}

.oneArticleTitle {
  font-size: 170%;
  font-weight: 300;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 1rem 1.4rem;
  margin: auto;
}

.body {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  border-width: 2.5px;
  padding: 2rem;
  border-radius: 10px;
  border-style: solid;
  background-color: #cd2b2b;
  color: white;
}

.oneArticleTitle {
  font-size: 170%;
  font-weight: 300;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 1rem 1.4rem;
  margin: auto;
}

.articlePTopic {
  font-size: 1.8rem;
  font-family: "Raleway", sans-serif;
}

.articleP {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
}

.articlePDate {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
}

.comments {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
}

.votes {
  font-size: 1.3rem;
  font-family: "Raleway", sans-serif;
}

.buttonViewArticle {
  display: inline-block;
  padding: 0.11em 1.6em;
  border: 0.1em solid #000000;
  margin: 0 0.2em 0.2em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: #cd2b2b;
  text-align: center;
  transition: all 0.15s;
}

.buttonViewArticle:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #ffffff;
  border-color: #ffffff;
  background-color: #8a1c1c;
}

.buttonGrid {
  display: grid;
  grid-template: 1fr/ 1fr 1fr;
}

.voteGrid {
  display: grid;
  grid-template: 1fr/ 1fr 1fr;
}

.voteUp {
  grid-column: 1/2;
  text-align: center;
  align-items: center;
  color: #000000 !important;
  text-transform: uppercase;
  background: #cd2b2b;
  padding: 5px;
  border: 2px solid #000000 !important;
  border-radius: 6px;
  display: inline-block;
  width: 10em;
  margin: 1em 1em 1em 1em;
}

.voteUp:hover {
  color: #ffffff !important;
  border-radius: 50px;
  border-color: #000000 !important;
  background-color: green;
  transition: all 0.3s ease 0s;
  font-size: 11px;
}

.voteDown {
  grid-column: 2/3;
  text-align: center;
  align-items: center;
  color: #000000 !important;
  text-transform: uppercase;
  background: #cd2b2b;
  padding: 5px;
  border: 2px solid #000000 !important;
  border-radius: 6px;
  display: inline-block;
  width: 10em;
  margin: 1em 1em 1em 1em;
}

.voteDown:hover {
  color: #ffffff !important;
  border-radius: 50px;
  border-color: #000000 !important;
  background-color: rgb(128, 0, 0);
  transition: all 0.3s ease 0s;
  font-size: 11px;
}

.buttonBack {
  grid-column: 1/2;
  display: inline-block;
  padding: 0.11em 1.6em;
  border: 0.1em solid #000000;
  margin: 1em 1em 1em 1em;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: #cd2b2b;
  text-align: center;
  transition: all 0.15s;
}
.buttonViewComments {
  grid-column: 2/3;
  display: inline-block;
  padding: 0.11em 0.6em;
  border: 0.1em solid #000000;
  margin: 1em 1em 1em 1em;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: #cd2b2b;
  text-align: center;
  transition: all 0.15s;
}

.buttonViewComments:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #ffffff;
  border-color: #ffffff;
  background-color: #8a1c1c;
}

.buttonBack:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #ffffff;
  border-color: #ffffff;
  background-color: #8a1c1c;
}

.showAdder {
  grid-column: 2/3;
  display: inline-block;
  padding: 1em 2em;
  border: 0.1em solid #000000;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: #cd2b2b;
  text-align: center;
  transition: all 0.15s;
  font-size: 15px;
}

.showAdder:hover {
  font-size: 20px;
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #ffffff;
  border-color: #ffffff;
  background-color: #8a1c1c;
}

.sorter {
  width: 10rem;
  margin: 0 auto;
  background-color: white;
  outline: none;
  border: solid;
  border-width: 1.5px;
}
.sorterLabel {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 0.7rem;
  color: rgb(255, 255, 255);
}

.sortForm {
  border: 1px solid rgb(255, 255, 255);
  width: 35%;
  padding: 0;
  margin: 2rem auto;
  border-width: 10px;
  border-radius: 20px;
  border-style: double;
  background-color: #cd2b2b;
  color: white;
  list-style: none;
}

.sortButton {
  display: inline-block;
  padding: 0.11em 0.6em;
  border: 0.1em solid #000000;
  margin: 1em 1em 1em 1em;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: #cd2b2b;
  text-align: center;
  transition: all 0.15s;
  font-size: 1rem;
}

.sortButton:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #ffffff;
  border-color: #ffffff;
  background-color: #8a1c1c;
}
