.nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #cd2b2b;
  border-bottom: 2px solid white;
  width: 100%;
}
.nav > a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 2rem;
  transition: 0.5s;
  margin: 10px;
}

.nav > a:hover {
  transform: scale(1.2);
  text-decoration: underline overline;
  margin: 10px;
}

.nav > p {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 2rem;
  transition: 0.5s;
  margin: 10px;
}

.nav > p:hover {
  transform: scale(1.2);
  text-decoration: underline overline;
  margin: 10px;
}

@media (max-width: 600px) {
  .nav {
    display: flex;
    justify-content: center;
    background-color: #cd2b2b;
    border-bottom: 2px solid white;
    width: 100%;
  }
  .nav > a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding: 0.2rem;
    transition: 0.5s;
    margin: 10px;
  }

  .nav > a:hover {
    transform: scale(1.2);
    text-decoration: underline overline;
    margin: 10px;
  }

  .nav > p {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding: 0.2rem;
    transition: 0.5s;
    margin: 10px;
  }

  .nav > p:hover {
    transform: scale(1.2);
    text-decoration: underline overline;
    margin: 10px;
  }
}
