.App {
  text-align: center;
  background-color: rgb(198, 198, 198);
}

.title {
  font-size: 4.8rem;
  font-weight: 50;
  text-transform: uppercase;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #cd2b2b;
  -webkit-text-fill-color: rgb(199, 28, 28);
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 2px;
}

.logged {
  font-size: 1.3rem;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #cd2b2b;
  width: 100%;
  color: white;
  margin-bottom: 0%;
}

/* .headerWrapper {
  display: grid;
} */

h1 {
  margin: 0;
  padding: 0 0 1rem 0;
  font-weight: 300;
  font-size: 7rem;
  font-weight: 300;
}
