.App {
  text-align: center;
  background-color: rgb(198, 198, 198);
}

.title {
  font-size: 6rem;
  font-weight: 50;
  text-transform: uppercase;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #ff2d2d;
  -webkit-text-fill-color: rgb(199, 28, 28);
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 2px;
}

h1 {
  margin: 0;
  padding: 0 0 1rem 0;
  font-weight: 300;
  font-size: 7rem;
  font-weight: 300;
}
